<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" media="screen" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" media="screen" href="stylesheets/typeahead.js-bootstrap.css">
    <script src="javascripts/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="javascripts/typeahead.min.js" type="text/javascript"></script>
</head>
<body>
<div class="schooldropdown">
    <p>Please select your child's school:&nbsp;

        <Select name="schoolslist">
            <% schools.forEach(function(school) { %>
            <option value="<%= school.name %>">
                <%= school.name %>
            </option>
            <% }); %>
        </Select>

    </p>
</div>


</body>
</html>