<div class="container">

    <div class="row text-center">
        <div class="col-md-12">
            <img src="images/homepage.jpg" width="100%" >
            <p class="text-left">
                <small>Image &copy; Curt Carnemark / World Bank</small>
            </p>
        </div>


        <div class="modal_schools">
            <button class="btn btn-primary btn-lg" ng-click="getStarted()">Get Started!</button>
         </div>


    </div>

    <hr>
    <div class="row">
        <div class="col-md-4">
            <h4>Find your school</h4>
            <p>Search our database of schools for the one that your child is attending.
                We will then look for bus companies in your area that can offer your child a place.</p>
        </div>
        <div class="col-md-4">
            <h4>View Available Buses</h4>
            <p>We'll provide you with the available buses for you to select from,
                or you can add your name to a wait list if there is no buses available.</p>
        </div>
        <div class="col-md-4">
            <h4>Select and Go!</h4>
            <p>Once you've selected the bus you want to go with, you can set up payments and
                you're child is ready to travel to school!</p>
        </div>
    </div>

</div>